name: ml-learn-env
channels:
  - pytorch
  - conda-forge
  - defaults

dependencies:
  - python=3.10
  - numpy
  - pandas
  - scikit-learn
  - scipy
  - matplotlib
  - seaborn
  - jupyterlab
  - tensorflow
  - keras
  - pytorch
  - torchvision
  - torchaudio
  - pip